:root {
  --gameFont: "Press Start 2P";
  --rockFont: "Rock Salt";
}

/* Fuentes de google */

/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Rock Salt', cursive; */

body {
  /* background-color: grey; */
  background-image: url(../img/fruits_bg.jpg);
  background-position: center;
  /* background-position: cover; */
  background-repeat: no-repeat;
  font-family: var(--gameFont);
}

.apertura {
  display: flex;
  justify-content: center;
}

#comenzar {
  height: 4em;
  width: 20em;
  border-radius: 0.5em;
  background-color: brown;
  color: white;
  text-align: center;
  border: 0.6em solid black;
}

#comenzar:hover {
  cursor: pointer;
  background-color: tomato;
  text-align: center;
  justify-content: center;
  border: 0.4em solid grey;
}

.titulo {
  color: white;
  font-size: 4em;
  font-family: var(--rockFont);
  opacity: 0.9;
  text-align: center;
}

/* Seleccion fruta */
.pantalla {
  height: 50em;
  width: 50em;
  display: flex;
  margin: auto; /* Centra el contenido */
  justify-content: center;
  align-content: center;
}

.recuadro-transparente-inicio {
  height: 70%;
  width: 70%;
  display: none; /* */
  flex-direction: column;
  background-color: seashell;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  /* opacity: 0.4; */
}

/* Las frutas */

.texto-subtitulo {
  font-family: var(--gameFont);
  font-size: 1.6em;
  text-align: center;
  margin: 1em 0em;
}

.opciones-frutas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opciones {
  display: flex;
  justify-content: space-evenly;
}

.fruta {
  padding: 1em;
  height: 6em;
  width: 6em;
}

.hover-effect:hover {
  border: 0.2em solid black;
  padding: 1.2em;
}

/* .fruta:hover {
  border: 0.2em solid black;
  padding: 1.2em;
} */

/* Cargando las imagenes de las frutas */
.manzana {
  background-image: url(../img/apple_icon.svg);
}

.pera {
  background-image: url(../img/pear_icon.svg);
}

.fresa {
  background-image: url(../img/strawberry_icon.svg);
}

.platano {
  background-image: url(../img/banana_icon.svg);
}

.frutas-seleccionadas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* #vs {
  display: none;
} */

.boton-inicio {
  /* height: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1em;
  font-family: var(--gameFont);
}

/* Pantalla de lucha*/

.recuadro-transparente-lucha {
  height: 70%;
  width: 70%;
  display: none;
  flex-direction: column;
  background-color: seashell;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  /* width: 90%;; */
}

/* Barras de salud */

.puntos-salud-texto {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.barras-salud {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}

.barra-salud-1 {
  height: 1em;
  width: 10em;
  background-color: red;
  border: 1px solid black;
}

.barra-salud-2 {
  height: 1em;
  width: 10em;
  background-color: red;
  border: 1px solid black;
  transform: rotate(180deg);
}

#ps-1 {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

#ps-2 {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

/* .barra-salud-2 {
  height: 1em;
  width: 10em;
  background-color: yellow;
  border: 1px solid black;
} */

.frutas-luchando {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.botones-ataque {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-top: 2em;
}

.recuadro-transparente-ganador {
  height: 70%;
  width: 70%;
  display: none;
  flex-direction: column;
  background-color: seashell;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  /* width: 90%;; */
}

.ganador {
  display: flex;
  height: 70%;
  width: 70%;
  flex-direction: column;
  align-items: center;
}

.formato-ganador {
  height: 15em;
  width: 15em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
